
<div class="modal-header" >
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form #formValue="ngForm" (ngSubmit)="onSubmit(formValue)">
    <div class="modal-body"> 
        <div class="row">
            <div class="col-md-4">
            <div class="form-group">
               *FIRST NAME:          
                <input type="text" [(ngModel)]="userDetails.firstName" name="firstName" id="firstName" class="form-control">
            </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                *MIDDLE NAME:      
                <input type="text" [(ngModel)]="userDetails.middleName" name="middleName" id="middleName" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                *LAST NAME:      
                <input type="text" [(ngModel)]="userDetails.lastName" name="lastName" id="lastName" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 mr-n2">
                        <div class="form-group">
                            *CREW NO:          
                            <input type="text" [(ngModel)]="userDetails.crewNo" name="crewNo" id="crewNo" class="form-control" value="item name">
                        </div>
                    </div>
                    <div class="col-md-6 ml-n2">
                        <div class="form-group">
                            *GENDER:  
                            <ngx-select class="ellipsis" [(ngModel)]="userDetails.gender" [allowClear]="true" placeholder="Select Gender..." 
                            name="gender" id="gender" [items]="['MALE', 'FEMALE']" [formControl]="selectGender">
                        </ngx-select>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-md-4">
                <div class="form-group">
                *BIRTHDAY:      
                <input type="date" [(ngModel)]="bday" name="birthday" id="birthday" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                *USER TYPE:
                    <ngx-select class="ellipsis" [(ngModel)]="userDetails.userType" [allowClear]="true" placeholder="Select user Type..." 
                            name="userType" id="userType" [items]="['SUPER ADMIN', 'TRAINEE']" [formControl]="selectUserType">

                    <!-- <ngx-select class="ellipsis" [(ngModel)]="userTypeName" [allowClear]="true" placeholder="Select Type..." 
                    name="userTypeName" id="userTypeName"
                    optionValueField="userTypeId" optionTextField="userTypeName"
                    [items]="userTypeList" [formControl]="selectUserType"> -->
                </ngx-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                MOBILE NO:          
                <input type="number" [(ngModel)]="userDetails.mobile" name="mobile" id="mobile" class="form-control">
            </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                RANK:      
                <ngx-select class="ellipsis" [(ngModel)]="userDetails.rankId" optionValueField="rankId" [allowClear]="true" name="rankId" id="rankId"              
               placeholder="Select Rank..." optionTextField="rank" [items]="rankList" [formControl]="selectRank">
            </ngx-select>  
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                GROUP:      
                <ngx-select class="ellipsis" [(ngModel)]="userDetails.groupId" optionValueField="groupId" [allowClear]="true" name="group" id="group"  
                placeholder="Select group..." optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
              </ngx-select> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                *EMAIL:          
                <input type="text" [(ngModel)]="userDetails.email" name="email" id="email" class="form-control">
            </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="form-group">
                *PASSWORD:      
                <input type="password" name="password" id="password" class="form-control" ngModel>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                *CONFIRM PASSWORD:      
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" ngModel>
                </div>
            </div> -->
        </div> 
    </div>    
  
    <div class="modal-footer">    
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Close</button>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>