<div class="card cardTop">
    <div class="row mb-n4 card-body">
        <div class="col-md-5 col-lg-7 col-sm-12 ">
            <nav aria-label="breadcrumb" class="ui-breadcrumb">
                <ol class="breadcrumb ui-breadcrumb">        
                <li class="breadcrumb-item achor">Setup</li>
                <li class="breadcrumb-item achor">User</li>
                <li class="breadcrumb-item active" aria-current="page">User List</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-7 col-lg-5 col-sm-12 text-right">
          <form>
            <div class="row">
              <div class="col-md-6 col">
                <div class="form-group">
                  <!-- <label>Course Group</label> -->
                  <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" required
                    placeholder="Select Group..." 
                     optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
                  </ngx-select>                 
                </div>
              </div>            
              <div class="col-md-3 col">
                <button type="button" class="btn btn-outline-primary" (click)="loadUserList()">Search</button>                
              </div>
              <div class="col-md-3 col">
                <button type="button" class="btn btn-outline-primary" (click)="openAddUserModal()">
                  <i class="fa fa-plus fa-x2">USER</i></button>
              </div>
              <!-- <div class="col-md-2">                        
                <button type="button" (click)="openAddDialog()" class="btn btn-outline-info">ADD COURSE</button>
              </div>           -->
            </div>
          </form>            
        </div>
    </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div [hidden]="isLoad" class="card-body table-responsive">        
        <table datatable [dtOptions]="dtOptions" class="table table-sm " [dtTrigger]="dtTrigger">
            <thead >
              <tr>        
                <th>#</th>
                <th>Name</th>
                <th>Group</th>                
                <th>Email</th>
                <th>Birthday</th>
                <th>Contact #</th>
                <!-- <th>Rank</th> -->
                <th>Gender</th>
                <th>Action</th>
              </tr>
            </thead>            
            <tbody>              
                <tr *ngFor="let data of userList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.firstName }} {{ data.middleName }} {{ data.lastName }}</td>
                    <td>{{ data.groupName }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.birthday }}</td>
                    <td>{{ data.mobile }}</td>
                    <!-- <td>{{ data.rank }}</td> -->
                    <td>{{ data.gender }}</td>
                    <td class="text-center">                     
                      <button type="button" class="btn btn-outline-info btn-sm mr-1" (click)="openEditUserDialog(data.userId)">
                        <i class="fa fa-pencil fa-x2"></i>
                      </button>
                      <button type="button" class="btn btn-outline-danger btn-sm mr-1" (click)="openDeleteUserDialog(data.userId, data.firstName + ' ' + data.middleName + ' ' + data.lastName)">
                        <i class="fa fa-trash fa-x2"></i>
                      </button>                                   
                    </td>
                </tr>
            </tbody>
            <!-- <tbody *ngIf="userList?.length == 0">
              <tr>        
                <td colspan="9" class="text-center textDanger">{{ noDataFound }}</td>
              </tr>
            <tbody> -->
          </table>
        </div>

        <div [hidden]="!isLoad">
          <div class="linear-background"></div>
        </div>
        
      </div>
  </div>
</div>