
<div class="modal-header" >
    <h4 class="modal-title pull-left">Add Group Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form #formValue="ngForm" (ngSubmit)="onSubmit(formValue)">
    <div class="modal-body"> 
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            GROUP NAME:          
            <input type="text" name="groupName" id="groupName" [(ngModel)]="principalDetails.groupName" class="form-control" ngModel>
          </div>
          <div class="form-group mt-n2">
            ADDRESS:          
            <input type="text" name="groupAddress" id="groupAddress" [(ngModel)]="principalDetails.groupAddress" class="form-control" ngModel>          
          </div>
          <div class="form-group mt-n2">
            EMAIL:          
            <input type="text" name="groupEmail" id="groupEmail" [(ngModel)]="principalDetails.groupEmail" class="form-control" ngModel>              
          </div>
          <div class="form-group mt-n2">
            CONTACT PERSON:          
            <input type="text" name="contactPerson" id="contactPerson" [(ngModel)]="principalDetails.contactPerson" class="form-control" ngModel>
          </div>
          <div class="form-group mt-n2">
            CONTACT NUMBER:          
            <input type="text" name="contactNumber" id="contactNumber" [(ngModel)]="principalDetails.contactNumber" class="form-control" ngModel>          
          </div>
          <div class="form-group mt-n2">
            GROUP CODE:          
            <input type="text" name="groupCode" id="groupCode" [(ngModel)]="principalDetails.groupCode" required class="form-control" ngModel>          
          </div>
      </div>          
          
      </div>  
    </div>
  
    <div class="modal-footer">    
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Close</button>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>