<div class="card">
  <div class="row mb-n4 mt-n1 card-body">
    <div class="col-md-4 col-lg-6">
      <nav aria-label="breadcrumb" class="ui-breadcrumb">
        <ol class="breadcrumb ui-breadcrumb">        
          <li class="breadcrumb-item achor">Library</li>
          <li class="breadcrumb-item active" aria-current="page">Quiz</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-8 col-lg-6 d-none d-md-block">
      <form (ngSubmit)="searchData()">
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <!-- <label>Course Group</label> -->
              <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" 
                placeholder="Select Quiz..." optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
              </ngx-select>
            </div>
          </div>

          <div class="col-md-8 ml-n4 col-lg-8">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <!-- <label>Status</label> -->
                  <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select..."
                  optionValueField="status" optionTextField="status"
                  [items]="stats" [formControl]="selectStatus"></ngx-select>
                </div>
              </div>
              <div class="col-md-3 ml-n4 col-lg-3">
                <button type="submit" class="btn btn-outline-primary">Search</button>
              </div>
              <div class="col-md-3 ml-2 col-lg-3">
                <button type="button" (click)="openAddDialog()" class="btn btn-outline-info ml-4">
                  <i class="fa fa-plus fa-x2">QUIZ</i>
                </button>  
              </div>
            </div>
          </div>
        </div>         
      </form>  
    </div>

       <!-- small devices -->
       <div class="col-md-8 col-lg-6 d-md-none">
        <form (ngSubmit)="searchData()">
          <div class="row">
            <div class="col">
              <div class="form-group">              
                <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" 
                placeholder="Select Quiz..." optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
              </ngx-select>
              </div>
            </div>

            <div class="col">                          
              <div class="form-group">            
                <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select..."
                optionValueField="status" optionTextField="status"
                [items]="stats" [formControl]="selectStatus"></ngx-select>
              </div>              
              <div class="row mb-3">
                <div class="col">                  
                  <button type="submit" class="btn btn-outline-primary">Search</button>
                </div>
                <div class="col">                  
                  <button type="button" (click)="openAddDialog()" class="btn btn-outline-info ml-3">
                    <i class="fa fa-plus fa-x2">QUIZ</i>                  
                  </button>
                </div>
              </div>              
            </div>          
          </div>
          
      </form>  
    </div>
    
  </div>
</div>

  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card">
        <div [hidden]="isLoad" class="card-body table-responsive">        
          <table datatable  id="customers" [dtOptions]="dtOptions" class="table table-sm " [dtTrigger]="dtTrigger">
              <thead >
                <tr>        
                  <th>#</th>
                  <th>Quiz Name</th>
                  <th>Desciption</th>
                  <th>Group</th>
                  <th>File Name</th>
                  <th>File Size</th>
                  <th>Action</th>
                </tr>
              </thead>            
              <!-- <tbody *ngIf="quizzes?.length">    -->
                <tbody>
                  <tr *ngFor="let data of quizzes; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ data.quizName }}</td>
                      <td>{{ data.quizDescription }}</td>
                      <td>{{ groupName }}</td>
                      <td>{{ data.quizFileName }}</td>
                      <td>{{ quizzes.length }}</td>
                      <td class="text-center">
                        <button type="button" [hidden]="!activeStatus" class="mt-1 btn btn-outline-primary btn-sm mr-1"
                          tooltip="Assign User"
                         (click)="openAssignDialog(data.quizId, data.needPayment, data.quizName)">
                        <i class="fa fa-id-badge fa-x3"></i>
                      </button>
                        <button type="button" class="btn btn-outline-info btn-sm mr-1 mt-1" (click)="openEditDialog(data.quizId)">
                          <i class="fa fa-pencil fa-x2"></i>
                        </button>
                        <button [hidden]="!activeStatus" type="button" class="mt-1 btn btn-outline-danger btn-sm" (click)="openDeleteDialog(data.quizId, data.quizName)">
                          <i class="fa fa-eye fa-x2"></i>
                        </button>
                        <button [hidden]="activeStatus" type="button" class="mt-1 btn btn-outline-danger btn-sm" (click)="openDeleteDialog(data.quizId, data.quizName)">
                          <i class="fa fa-eye-slash fa-x2"></i>
                        </button>                   
                      </td>
                  </tr>
              </tbody>
              <!-- <tbody *ngIf="!quizzes?.length">
                <tr>        
                  <td colspan="7" class="text-center textDanger">{{ noDataFound }}</td>
                </tr>
              <tbody> -->
            </table>
          </div>
  
          <div [hidden]="!isLoad">
            <div class="linear-background"></div>
          </div>
          
        </div>
    </div>
  </div>