<div class="modal-header" >
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>  
  <div class="modal-footer">    
    <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Close</button>
    <button type="button" class="btn btn-outline-danger" (click)="onConfirm()">Yes</button>
  </div>