
<div class="modal-header" >    
    <h4 class="modal-title pull-left">View Status</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="row mt-3">
        <div class="col-md-12">
          <div class="card">
            <div [hidden]="isLoad" class="card-body table-responsive">        
              <table datatable  id="customers" [dtOptions]="dtOptionsAssign" class="table table-sm " [dtTrigger]="dtTriggerAssign">
                  <thead >
                    <tr>        
                      <th>#</th>
                      <th>Name</th>
                      <th>Correct</th>                
                      <th>Wrong</th>
                      <th>Average</th>                      
                    </tr>
                  </thead>            
                  <tbody *ngIf="courseList?.length > 0">              
                      <tr *ngFor="let data of courseList; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ data.fullName }} </td>
                          <td>{{ data.correct.count }}</td>
                          <td>{{ data.wrong.count }}</td>
                          <td>{{ data.average }}</td>                      
                      </tr>
                  </tbody>
                  <tbody *ngIf="courseList?.length == 0">
                    <tr>        
                      <td colspan="9" class="text-center textDanger">{{ noDataFound }}</td>
                    </tr>
                  <tbody>
                </table>
              </div>
      
              <div [hidden]="!isLoad">
                <div class="linear-background"></div>
              </div>
              
            </div>
        </div>
      </div>
</div>
    