#example_filter input {
  border-radius: 5px;
}

th {
  background-color: #4CAF50;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}

td {
  border: 1px solid #ddd;
}

label {
  color: black;
}



