<div class="card">
  <div class="row mb-n4 mt-n1 card-body">
    <div class="col-md-4 col-lg-6">
      <nav aria-label="breadcrumb" class="ui-breadcrumb">
        <ol class="breadcrumb ui-breadcrumb">        
          <li class="breadcrumb-item achor">Library</li>
          <li class="breadcrumb-item active" aria-current="page">Course</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-8 col-lg-6 d-none d-md-block">
      <form>
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">              
              <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" required
                placeholder="Select Course..." (selectionChanges)="doSelectionChanges($event)"
                 optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
              </ngx-select>                 
            </div>
          </div>

          <div class="col-md-8 ml-n4 col-lg-8">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="form-group">            
                  <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select Status..."
                  optionValueField="status" optionTextField="status" required
                  [items]="stats" [formControl]="selectStatus"></ngx-select>              
                </div>
              </div>
              <div class="col-md-3 ml-n4 col-lg-3">
                <button type="button" class="btn btn-outline-primary" (click)="searchData()">Search</button>    
              </div>
              <div class="col-md-3 ml-2 col-lg-3">
                <button type="button" (click)="openAddDialog()" class="btn btn-outline-info">
                  <i class="fa fa-plus fa-x2">COURSE</i> 
                </button>   
              </div>
            </div>            
          </div>          
        </div>
      </form>  
    </div>
    
    <!-- small devices -->
    <div class="col-md-8 col-lg-6 d-md-none">
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">              
              <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" required
                placeholder="Select Course..." (selectionChanges)="doSelectionChanges($event)"
                 optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
              </ngx-select>                 
            </div>
          </div>

          <div class="col">                          
            <div class="form-group">            
              <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select Status..."
              optionValueField="status" optionTextField="status" required
              [items]="stats" [formControl]="selectStatus"></ngx-select>              
            </div>              
            <div class="row mb-3">
              <div class="col">                  
                  <button type="button" class="btn btn-outline-primary" (click)="searchData()">Search</button>       
              </div>
              <div class="col">                  
                  <button type="button" (click)="openAddDialog()" class="btn btn-outline-info">
                    <i class="fa fa-plus fa-x2">COURSE</i> 
                  </button>                  
              </div>
            </div>              
          </div>          
        </div>
        
      </form>  
    </div>

  </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div [hidden]="isLoad" class="card-body table-responsive">     
        <table datatable cellspacing="0" width="100%" [dtOptions]="dtOptions" 
        style="overflow-x:auto;" class="table table-sm" [dtTrigger]="dtTrigger">
          <thead >
            <tr>        
              <th>#</th>
              <th>Course Name</th>
              <th>Description</th>
              <th>Group Name</th>
              <th>File Name</th>
              <th>File Size</th>
              <th>Action</th>
            </tr>
          </thead>            
          <!-- <tbody *ngIf="courses?.length > 0">               -->
            <tbody>
              <tr *ngFor="let data of courses; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.courseName }}</td>
                  <td>{{ data.courseDescription }}</td>
                  <td>{{ groupName }}</td>
                  <td>{{ data.courseFileName }}</td>
                  <td>{{ data.courseFileSize }}</td>
                  <td class="text-center">
                    <button type="button" [hidden]="!activeStatus" class="btn btn-outline-primary btn-sm mr-1 mt-1"
                        tooltip="Assign User" (click)="openAssignDialog(data.courseId, data.needPayment, data.courseName)">
                      <i class="fa fa-id-badge fa-x3"></i>
                    </button>
                    <button type="button" class="btn btn-outline-info btn-sm mr-1 mt-1" (click)="openEditDialog(data.courseId)">
                      <i class="fa fa-pencil fa-x2"></i>
                    </button>
                    <button [hidden]="!activeStatus" type="button" class="btn btn-outline-danger btn-sm mt-1" (click)="openDeleteDialog(data.courseId, data.courseName)">
                      <i class="fa fa-eye fa-x2"></i>
                    </button>
                    <button [hidden]="activeStatus" type="button" class="btn btn-outline-danger btn-sm mt-1" (click)="openDeleteDialog(data.courseId, data.courseName)">
                      <i class="fa fa-eye-slash fa-x2"></i>
                    </button>                   
                  </td>
              </tr>
          </tbody>          
        </table>
        </div>

        <div [hidden]="!isLoad">
          <div class="linear-background"></div>
        </div>
        
      </div>
  </div>
</div>

