<div class="card cardTop">
    <div class="row mb-n4 card-body">
        <div class="col-md-6">
            <nav aria-label="breadcrumb" class="ui-breadcrumb">
                <ol class="breadcrumb ui-breadcrumb">        
                <li class="breadcrumb-item achor">Dashboard</li>                
                <li class="breadcrumb-item active" aria-current="page">Flash Card</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 text-right">            
            <form (ngSubmit)="loadDatatables()">
              <div class="row">
                <!-- <div class="col-md-4"></div> -->
                <div class="col-md-8 col">
                  <div class="form-group">                    
                    <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" 
                    placeholder="Select Group Name..." optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
                  </ngx-select> 
                  </div>
                </div>
      
                <div class="col-md-4 col">                  
                  <button type="submit" class="btn btn-outline-primary">Search</button>
                  <!-- <button type="submit" class="btn btn-outline-danger">REMOVE ASSIGN</button> -->
                </div>                    
              </div>
            </form>                   
        </div>        
    </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div [hidden]="isLoad" class="card-body table-responsive">        
        <table datatable [dtOptions]="dtOptions" class="table table-sm" [dtTrigger]="dtTrigger">
            <thead >
              <tr>        
                <th>#</th>
                <th>Name</th>
                <th>Easy</th>
                <th>Medium</th>
                <th>Hard</th>
                <th>Not Seen</th>
                <th>Action</th>
              </tr>
            </thead>            
            <tbody *ngIf="flashcardList?.length > 0">              
                <tr *ngFor="let data of flashcardList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.firstName }} {{ data.middleName }} {{ data.lastName }}</td>
                    <td>{{ data.lastSync}}</td>                    
                </tr>
            </tbody>
            <tbody *ngIf="flashcardList?.length == 0">
              <tr>        
                <td colspan="9" class="text-center textDanger">{{ noDataFound }}</td>
              </tr>
            <tbody>
          </table>
        </div>

        <div [hidden]="!isLoad">
          <div class="linear-background"></div>
        </div>
        
      </div>
  </div>
</div>