
<div class="modal-header" >
    <h4 class="modal-title pull-left">Add Group Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <!-- <form #formValue="ngForm" (ngSubmit)="onSubmit(formValue)"> -->
  <form #formValue="ngForm" name="form" (ngSubmit)="formValue.form.valid && onSubmit(formValue)">
    <div class="modal-body"> 
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            GROUP NAME:          
            <input type="text" name="groupName" id="groupName" class="form-control"
              [(ngModel)]="model.groupName" #groupName="ngModel"
              [ngClass]="{ 'is-invalid': formValue.submitted && groupName.invalid }" required
            >
            <div *ngIf="formValue.submitted && groupName.invalid" class="invalid-feedback">
              <div *ngIf="groupName.errors.required">Group name is required</div>
            </div>
          </div>
          <div class="form-group mt-n2">
            ADDRESS:          
            <input type="text" name="groupAddress" id="groupAddress" class="form-control"
              [(ngModel)]="model.groupAddress" #groupAddress="ngModel"
              [ngClass]="{ 'is-invalid': formValue.submitted && groupAddress.invalid }" required
            >
            <div *ngIf="formValue.submitted && groupAddress.invalid" class="invalid-feedback">
              <div *ngIf="groupAddress.errors.required">Address is required</div>
            </div>
          </div>
          <div class="form-group mt-n2">
            EMAIL:          
            <input type="text" name="groupEmail" id="groupEmail" class="form-control"
              [(ngModel)]="model.groupEmail" #groupEmail="ngModel"
              [ngClass]="{ 'is-invalid': formValue.submitted && groupEmail.invalid }" required
            >
            <div *ngIf="formValue.submitted && groupEmail.invalid" class="invalid-feedback">
              <div *ngIf="groupEmail.errors.required">Email is required</div>
            </div>              
          </div>
          <div class="form-group mt-n2">
            CONTACT PERSON:          
            <input type="text" name="contactPerson" id="contactPerson" class="form-control"
              [(ngModel)]="model.contactPerson" #contactPerson="ngModel"
              [ngClass]="{ 'is-invalid': formValue.submitted && contactPerson.invalid }" required
            >
            <div *ngIf="formValue.submitted && contactPerson.invalid" class="invalid-feedback">
              <div *ngIf="contactPerson.errors.required">Contact person is required</div>
            </div> 
          </div>
          <div class="form-group mt-n2">
            CONTACT NUMBER:          
            <input type="number" name="contactNumber" id="contactNumber" class="form-control"
              [(ngModel)]="model.contactNumber" #contactNumber="ngModel"
              [ngClass]="{ 'is-invalid': formValue.submitted && contactNumber.invalid }" required
            >
            <div *ngIf="formValue.submitted && contactNumber.invalid" class="invalid-feedback">
              <div *ngIf="contactNumber.errors.required">Contact number is required</div>
            </div> 
          </div>
          <div class="form-group mt-n2">
            GROUP CODE:          
            <input type="text" name="groupCode" id="groupCode" required class="form-control"
              [(ngModel)]="model.groupCode" #groupCode="ngModel"
              [ngClass]="{ 'is-invalid': formValue.submitted && groupCode.invalid }" required
            >
            <div *ngIf="formValue.submitted && groupCode.invalid" class="invalid-feedback">
              <div *ngIf="groupCode.errors.required">Group code is required</div>
            </div> 
          </div>
      </div>          
          
      </div>  
    </div>

    <div class="modal-footer" [hidden]="loader">
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Close</button>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>

    <div class="modal-footer" [hidden]="!loader">
        <button class="btn btn-outline-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
          </button>
    </div>     
  </form>