<div class="card">
    <div class="row mb-n4 mt-n1 card-body">
        <div class="col-md-6">
            <nav aria-label="breadcrumb" class="ui-breadcrumb">
                <ol class="breadcrumb ui-breadcrumb">        
                <li class="breadcrumb-item achor">Setup</li>
                <li class="breadcrumb-item active" aria-current="page">Pyschological Exam</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-outline-info">UPLOAD PSYCHOLOGICAL TEST</button>
        </div>
    </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div [hidden]="isLoad" class="card-body">        
        <table datatable  id="customers" [dtOptions]="dtOptions" class="table table-sm " [dtTrigger]="dtTrigger">
            <thead >
              <tr>        
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Code</th>
                <th>File Name</th>                
                <th>Action</th>
              </tr>
            </thead>            
            <tbody *ngIf="psycohlogicalList?.length > 0">              
                <tr *ngFor="let data of psycohlogicalList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.psychoName }}</td>
                    <td>{{ data.psychoDescription }}</td>
                    <td>{{ data.psychoCode }}</td>
                    <td>{{ data.psychoFileName }}</td>                    
                    <td class="text-center">
                      <button type="button" class="btn btn-outline-info btn-sm mr-1" (click)="openEditDialog(data.groupId)">
                        <i class="fa fa-pencil fa-x2"></i>
                      </button>                      
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="psycohlogicalList?.length == 0">
              <tr>        
                <td colspan="6" class="text-center textDanger">{{ noDataFound }}</td>
              </tr>
            <tbody>
          </table>
        </div>

        <div [hidden]="!isLoad">
          <div class="linear-background"></div>
        </div>
        
      </div>
  </div>
</div>