
<div class="modal-header" >
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <!-- <form #formValue="ngForm" (ngSubmit)="onSubmit(formValue)"> -->
  <form #formValue="ngForm" name="form" (ngSubmit)="formValue.form.valid && onSubmit(formValue)" novalidate>
    <div class="modal-body"> 
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            NAME:
            <input type="text" name="itemName" id="itemName" class="form-control" 
              [(ngModel)]="model.itemName" #itemName="ngModel" [ngClass]="{ 'is-invalid': formValue.submitted && itemName.invalid }" required>
              <div *ngIf="formValue.submitted && itemName.invalid" class="invalid-feedback">
                <div *ngIf="itemName.errors.required">Name is required</div>
              </div>
          </div>
          <div class="form-group mt-n2">
            DESCRIPTION:
            <textarea name="description" name="description" id="description" 
              [(ngModel)]="model.description" #description="ngModel" class="form-control"
              [ngClass]="{ 'is-invalid': formValue.submitted && description.invalid }" required>
            </textarea>
            <div *ngIf="formValue.submitted && description.invalid" class="invalid-feedback">
              <div *ngIf="description.errors.required">Description is required</div>
            </div>
          </div>
          <div class="form-group mt-n2">
            RANK:
            <ngx-select class="ellipsis" value="rank id" optionValueField="rankId" [multiple]="true" [allowClear]="true" name="rankId" id="rankId"              
              [(ngModel)]="model.selectRank" [ngClass]="{ 'is-invalid': formValue.submitted && selectRank.invalid }"   
              placeholder="Select Rank..." optionTextField="rank" [items]="rankList" [formControl]="selectRank">
            </ngx-select>
            
            <div [hidden]="selectRank.valid? true : false" class="invalid-feedback">
              <div>Rank is required</div>
            </div>
          </div>
          <div class="form-group mt-n2">
            TYPE:
            <ngx-select class="ellipsis" value="type here" [allowClear]="true" placeholder="Select Type..." name="typeName" id="typeName"
              optionValueField="typeId" optionTextField="typeName" 
              [(ngModel)]="model.selectType" [ngClass]="{ 'is-invalid': formValue.submitted && selectType.invalid }"   
              [items]="stats" [formControl]="selectType">
            </ngx-select>

            <div [hidden]="selectType.valid? true : false" class="invalid-feedback">
              <div>Type is required</div>
            </div>
          </div>
          <div class="form-group mt-n2">
            GROUP:          
            <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" name="group" id="group"  
              [(ngModel)]="model.selectPrincipal" [ngClass]="{ 'is-invalid': formValue.submitted && selectPrincipal.invalid }"     
              placeholder="Select Owner..." optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
            </ngx-select>    

            <div [hidden]="selectPrincipal.valid? true : false" class="invalid-feedback">
              <div>Group is required</div>
            </div>         
          </div>
          <div class="form-group mt-n2">
            CONTENT TYPE:
            <ngx-select class="ellipsis" [(ngModel)]="contentDefault" (selectionChanges)="doSelectionContentType($event)" optionValueField="contentId" optionTextField="contentType" [allowClear]="true" name="content" id="content" 
              placeholder="Select Content..." [items]="contentList" [formControl]="selectContent">
            </ngx-select>             
          </div>
          <div class="form-group mt-n2">
            <div class="row">
              <div class="col-md-6">
                PAYMENT:
                <input type="number" ngModel name="payment" id="payment" class="form-control"
                placeholder="numbers only" [(ngModel)]="model.payment" #payment="ngModel" 
                [ngClass]="{ 'is-invalid': formValue.submitted && payment.invalid }" required>
                <div *ngIf="formValue.submitted && payment.invalid" class="invalid-feedback">
                  <div *ngIf="payment.errors.required">Description is required</div>
                </div>
              </div>
              <div class="col-md-6">
                Status:
                <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select Status..." name="statusName" 
                  id="statusName" optionValueField="statusId" optionTextField="statusName" 
                  [(ngModel)]="model.selectStatus" [ngClass]="{ 'is-invalid': formValue.submitted && selectStatus.invalid }"   
                  [items]="statusType" [formControl]="selectStatus">
                </ngx-select>
    
                <div [hidden]="selectStatus.valid? true : false" class="invalid-feedback">
                  <div>Status is required</div>
                </div>
              </div>
            </div>
          </div>
      </div>          
  
        <div class="col-md-6">
          <div class="well">
            <div class="form-group mb-n3 mt-n3 pt-1 pb-1">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-3">
                      THUMBNAIL:
                    </div>
                    <div class="col-md-9 justify-content-end mb-2">                  
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" [style.width.%]="thumbnailResponse">
                            {{thumbnailResponse}}%
                        </div>
                      </div>                      
                    </div>                  
                  </div>
                  <div class="row">
                    <div class="col-md-10">
                      <div class="file-upload" [ngClass]="{'active':thumbnailImageFormat == '1', 'danger': thumbnailImageFormat == '0' }">
                        <div class="file-select">
                          <div class="file-select-button" id="thumbnail">Choose File</div>
                          <div class="file-select-name" id="noFile">{{ imgUrl }}</div>
                            <input type="file" id="thumbnail" name="thumbnail" (change)="uploadImg($event.target.files)" class="form-control"
                              [(ngModel)]="model.thumbnail" #thumbnail="ngModel"  [ngClass]="{ 'is-invalid': formValue.submitted && thumbnail.invalid }" required>                            
                          </div>
                          <div *ngIf="formValue.submitted && thumbnail.invalid" class="invalid-feedback">
                            <div *ngIf="thumbnail.errors.required">Description is required</div>
                          </div>
                        <div class="small form-text text-muted text-sm-left textDanger">Accepted Format: .jpg, .png</div>
                    </div>
                    </div>
                    <div class="col-md-2 justify-content-end">
                      <button type="button" class="btn btn-outline-primary float-right text-left" 
                      [disabled]="thumbnailImageFormat !== '1'" (click)="uploadPresignedFile('thumbnail')">                  
                        <!-- <i class="fa fa-upload"> </i> -->
                        Upload
                      </button>
                    </div>
                  </div>
                </div>              
              </div>                      
            </div>
          </div>
  
          <div class="well mt-n1">
            <div class="form-group mb-n3 mt-n3 pt-1 pb-1">
              <div class="row">
                <div class="col-md-3">
                  ACTUAL FILE:
                </div>
                <div class="col-md-9 justify-content-end mb-2">                  
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" [style.width.%]="actualVideoResponse">
                          {{actualVideoResponse}}%
                      </div>
                    </div>                
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="file-upload" [ngClass]="{'active':actualVideoFileFormat == '1', 'danger': actualVideoFileFormat == '0' }">
                    <div class="file-select">
                      <div class="file-select-button">Choose File</div>
                      <div class="file-select-name">{{ fileUrl }}</div> 
                      <input type="file" [disabled]="!contentType" (change)="uploadActualFile($event)" class="form-control">                  
                    </div>
                    <!-- <div *ngIf="itemType == 'courses'" class="small form-text text-muted text-sm-left textDanger">Accepted Format: .mp4 / .avi</div>                         -->
                    <div class="small form-text text-muted text-sm-left textDanger">
                      {{ acceptedFormat }}
                    </div>
                </div>
                </div>
                <div class="col-md-2 justify-content-end">
                  <button type="button" (click)="uploadPresignedFile('actualVideo')" [disabled]="actualVideoFileFormat != '1'" class="btn btn-outline-primary float-right text-left">
                    upload
                  </button>
                </div>
              </div>                         
            </div>
          </div>
  
          <div class="well mt-n1" *ngIf="contentType == 'VIDEO'">
            <div class="form-group mb-n3 mt-n3 pt-1 pb-1">
              <div class="row">
                <div class="col-md-3">
                  PREVIEW FILE:
                </div>
                <div class="col-md-9 justify-content-end ">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" [style.width.%]="previewVideoResponse">
                          {{previewVideoResponse}}%
                      </div>
                  </div> 
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="file-upload" [ngClass]="{'active':previewVideoFileFormat == '1', 'danger': previewVideoFileFormat == '0' }">
                    <div class="file-select">
                      <div class="file-select-button">Choose File</div>
                      <div class="file-select-name">{{ previewFileUrl }}</div>
                      <input type="file" (change)="uploadPreviewFile($event)" class="form-control">                 
                    </div>
                    <div class="small form-text text-muted text-sm-left textDanger">Accepted Format: .mp4. .avi</div>
                  </div>
                </div>
                <div class="col-md-2 justify-content-end">
                  <button type="button" (click)="uploadPresignedFile('previewVideo')" [disabled]="previewVideoFileFormat != '1'" class="btn btn-outline-primary float-right text-left">
                    <!-- <i class="fa fa-upload"> </i> -->
                    upload
                  </button>
                </div>
              </div>              
            </div>
          </div>
          
          <div class="row">            
              <div class="col-md-6">
              <p class="text-center">Image Preview:</p>
              <div class="col-md-12 mt-n3 text-center">
                <img [src]="imgThumbnail" class="img-fluid maxHeight pt-1">
              </div>
            </div>
  
            <div class="col-md-6" [hidden]="contentType != 'VIDEO'">
              <p class="text-center">Video Preview:</p>
              <div class="col-md-12 mt-n3 text-center">              
                <video [src]="videoUrl" class="maxHeight text-center pt-1" controls></video>
              </div>
            </div>
          </div>
          
        </div>
      </div>  
    </div>
  
    <div class="modal-footer">    
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Close</button>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>