
<div class="modal-header" >
    <h4 class="modal-title pull-left">Edit Rank Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form #formValue="ngForm" (ngSubmit)="onSubmit(formValue)">
    <div class="modal-body">
        <div class="form-group row">
            <label for="rankName" class="col-sm-3 col-form-label">RANK NAME:</label>
            <div class="col-sm-9">
                <input type="text" name="rank" id="rank" [(ngModel)]="rankData.rank" class="form-control" ngModel>
            </div>
          </div>             
    </div>
  
    <div class="modal-footer">    
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Close</button>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>