<div class="card cardTop">
    <div class="row mb-n4 mt-n1 card-body">
        <div class="col-md-6">
            <nav aria-label="breadcrumb" class="ui-breadcrumb">
                <ol class="breadcrumb ui-breadcrumb">        
                    <li class="breadcrumb-item achor">Setup</li>
                    <li class="breadcrumb-item achor">User</li>
                    <li class="breadcrumb-item active" aria-current="page">For Approval</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 text-right">            
                <form (ngSubmit)="loadTestExam()">
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <!-- <label>Status</label> -->
                        <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" 
                        placeholder="Select Group Name..." optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
                      </ngx-select> 
                      </div>
                    </div>
          
                    <div class="col-md-2">
                      <!-- <label for=""></label> -->
                      <button type="submit" class="btn btn-outline-primary">Search</button>
                      <!-- <button type="submit" class="btn btn-outline-danger">REMOVE ASSIGN</button> -->
                    </div>                    
                  </div>
                </form>                   
        </div>
    </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div [hidden]="isLoad" class="card-body">        
        <table datatable  id="customers" [dtOptions]="dtOptions" class="table table-sm " [dtTrigger]="dtTrigger">
            <thead >
              <tr>        
                <th>#</th>
                <th>Name</th>               
                <th>Action</th>
              </tr>
            </thead>            
            <tbody *ngIf="approvalList?.length > 0">              
                <tr *ngFor="let data of approvalList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.name }} </td>                    
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-success btn-sm mr-1">
                            <i class="fa fa-id-thumbs-up fa-x3"></i>
                        </button>    
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="approvalList?.length == 0">
              <tr>        
                <td colspan="3" class="text-center textDanger">{{ noDataFound }}</td>
              </tr>
            <tbody>
          </table>
        </div>

        <div [hidden]="!isLoad">
          <div class="linear-background"></div>
        </div>
        
      </div>
  </div>
</div>