/* .customNav {
    background-color: rgb(0,35,82) !important;
}

.nav-link .fa {
    color: white;
}

li > a {
    color: white;
}
 */


 p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
