<!-- <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
        <img src="/assets/tala.png" height="28" alt="TALA">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse1">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse1">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">LIBRARY</a>            
        </div>
        <form class="form-inline ml-auto">
            <input type="text" class="form-control mr-sm-2" placeholder="Search">
            <button type="submit" class="btn btn-outline-light">Search</button>
        </form>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg" [style.background-color]="customNav">
    <a class="navbar-brand" href="#">
        <img src="/assets/tala.png" height="34" alt="TALA">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" [style.color]="navLink" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            DASHBOARD
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/dashboard/seafarer">SEAFARER</a>
            <a class="dropdown-item" routerLink="/dashboard/flashcard">FLASHCARD</a>
            <a class="dropdown-item" routerLink="/dashboard/course">MULTIMEDIA</a> 
            <a class="dropdown-item" routerLink="/dashboard/quiz">QUIZZES</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" [style.color]="navLink" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LIBRARY
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/library/flashcard">FLASHCARD</a>
            <a class="dropdown-item" routerLink="/library/course">MULTIMEDIA</a> 
            <a class="dropdown-item" routerLink="/library/quiz">QUIZZES</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [style.color]="navLink" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SETUP
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/setup/group">GROUP</a>
            <!-- <a class="dropdown-item" routerLink="/setup/psychologicalExam" >PYSCHOLOGICAL TEST</a>  -->
            <a class="dropdown-item" routerLink="/setup/rank">RANK</a>
            <a class="dropdown-item" routerLink="/setup/user">USER</a>
          </div>
        </li>   
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown active">
          <!-- <a class="nav-link dropdown-toggle" [style.color]="navLink" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CUSTOM COLOR
          </a> -->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <input type="color" id="head" name="head" (change)="headColor($event.target.value)">
            <label for="head">Head</label>
            <input type="color" id="headText" name="headText" (change)="headText($event.target.value)">
            <label for="headText">Text</label>
          
            <a class="dropdown-item" routerLink="/library/quiz">QUIZZES</a>
          </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [style.color]="navLink" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle fa-fw fa-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"> -->
              <a class="dropdown-item">CHANGE PASSWORD</a>
              <a class="dropdown-item">MANAGE PROFILE</a>  
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/accounts/logout">SIGN OUT</a>
            </div>
          </li>
      </ul>  
    </div>
  </nav>