<div class="card cardTop">
    <div class="row mb-n4 mt-n1 card-body">
        <div class="col-md-6">
            <nav aria-label="breadcrumb" class="ui-breadcrumb">
                <ol class="breadcrumb ui-breadcrumb">        
                    <li class="breadcrumb-item achor">Setup</li>
                    <li class="breadcrumb-item achor">User</li>
                    <li class="breadcrumb-item active" aria-current="page">Psychological Test Exam</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 text-right">            
                <form (ngSubmit)="loadTestExam()">
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <!-- <label>Status</label> -->
                        <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select Exam..."
                        optionValueField="psychoId" optionTextField="psychoFileName" required
                        [items]="psychologicalList" [formControl]="selectExam"></ngx-select>
                      </div>
                    </div>
          
                    <div class="col-md-2">
                      <!-- <label for=""></label> -->
                      <button type="submit" class="btn btn-outline-primary">Search</button>
                      <!-- <button type="submit" class="btn btn-outline-danger">REMOVE ASSIGN</button> -->
                    </div>                    
                  </div>
                </form>                   
        </div>
    </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div [hidden]="isLoad" class="card-body">        
        <table datatable  id="customers" [dtOptions]="dtOptions" class="table table-sm " [dtTrigger]="dtTrigger">
            <thead >
              <tr>        
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Rank</th>
                <th>Group</th>
                <th>CheckBox</th>
              </tr>
            </thead>            
            <tbody *ngIf="testExamList?.length > 0">              
                <tr *ngFor="let data of testExamList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.name }} </td>
                    <td>{{ data.email }}</td>                    
                    <td>{{ data.rank }}</td>
                    <td>{{ data.groupName }}</td>
                    <td class="text-center">
                        <input type="checkbox">         
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="testExamList?.length == 0">
              <tr>        
                <td colspan="6" class="text-center textDanger">{{ noDataFound }}</td>
              </tr>
            <tbody>
          </table>
        </div>

        <div [hidden]="!isLoad">
          <div class="linear-background"></div>
        </div>
        
      </div>
  </div>
</div>