<div class="card">
    <div class="row mb-n4 mt-n1 card-body">
        <div class="col">
            <nav aria-label="breadcrumb" class="ui-breadcrumb">
                <ol class="breadcrumb ui-breadcrumb">        
                <li class="breadcrumb-item achor">Setup</li>
                <li class="breadcrumb-item active" aria-current="page">Rank</li>
                </ol>
            </nav>
        </div>
        <div class="col text-right">
            <button type="button" class="btn btn-outline-info" (click)="addRankModal()" >
              <i class="fa fa-plus fa-x2"></i> RANK</button>
        </div>
    </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div [hidden]="isLoad" class="card-body table-responsive">        
        <table datatable  id="customers" [dtOptions]="dtOptions" class="table table-sm " [dtTrigger]="dtTrigger">
            <thead >
              <tr>        
                <th>#</th>
                <th>Rank</th>                
                <th>Action</th>
              </tr>
            </thead>            
            <tbody *ngIf="rankList?.length > 0">              
                <tr *ngFor="let data of rankList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.rank }}</td>                   
                    <td class="text-center">
                      <button type="button" class="btn btn-outline-info btn-sm mr-1" (click)="openEditRankDialog(data.rankId)">
                        <i class="fa fa-pencil fa-x2"></i>
                      </button>
                      <button type="button" class="btn btn-outline-danger btn-sm" (click)="openDeleteRank(data.rankId, data.rank)">
                        <i class="fa fa-trash fa-x2"></i>
                      </button>              
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="rankList?.length == 0">
              <tr>        
                <td colspan="6" class="text-center textDanger">{{ noDataFound }}</td>
              </tr>
            <tbody>
          </table>
        </div>

        <div [hidden]="!isLoad">
          <div class="linear-background"></div>
        </div>
        
      </div>
  </div>
</div>