<div class="card">
  <div class="row mb-n4 mt-n1 card-body">
    <div class="col-md-4 col-lg-6">
      <nav aria-label="breadcrumb" class="ui-breadcrumb">
        <ol class="breadcrumb ui-breadcrumb">        
          <li class="breadcrumb-item achor">Library</li>
          <li class="breadcrumb-item active" aria-current="page">Flash Card</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-8 col-lg-6 d-none d-md-block">
      <form (ngSubmit)="searchData()">
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">              
              <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" required
                placeholder="Select Flash Card..." (selectionChanges)="doSelectionChanges($event)"
                 optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
              </ngx-select>
            </div>
          </div>

          <div class="col-md-8 ml-n4 col-lg-8">
            <div class="row">
              <div class="col-md-6 col-lg-6">                    
                <div class="form-group">
                  <!-- <label>Status</label> -->
                  <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select..."
                  optionValueField="status" optionTextField="status"
                  [items]="stats" [formControl]="selectStatus"></ngx-select>
                </div>
              </div>
              <div class="col-md-3 ml-n4 col-lg-2">
                <button type="submit" class="btn btn-outline-primary">Search</button>
              </div>
              <div class="col-md-3 ml-2 col-lg-2">
                <button type="button" (click)="openAddDialog()" class="btn btn-outline-info ml-3">
                  <i class="fa fa-plus fa-x2">CARD</i>                  
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>  
    </div>

        <!-- small devices -->
      <div class="col-md-8 col-lg-6 d-md-none">
        <form (ngSubmit)="searchData()">
          <div class="row">
            <div class="col">
              <div class="form-group">              
                <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" required
                placeholder="Select Flash Card..." (selectionChanges)="doSelectionChanges($event)"
                 optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
              </ngx-select>
              </div>
            </div>

            <div class="col">                          
              <div class="form-group">            
                <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select..."
                  optionValueField="status" optionTextField="status"
                  [items]="stats" [formControl]="selectStatus"></ngx-select>
              </div>              
              <div class="row mb-3">
                <div class="col">                  
                  <button type="submit" class="btn btn-outline-primary">Search</button>
                </div>
                <div class="col">                  
                  <button type="button" (click)="openAddDialog()" class="btn btn-outline-info ml-3">
                    <i class="fa fa-plus fa-x2">CARD</i>                  
                  </button>
                </div>
              </div>              
            </div>          
          </div>
          
      </form>  
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div [hidden]="isLoad" class="card-body table-responsive">        
        <table datatable [dtOptions]="dtOptions" class="table table-sm " [dtTrigger]="dtTrigger">
            <thead >
              <tr>        
                <th>#</th>
                <th>Flash Card Name</th>
                <th>Desciption</th>
                <th>Group</th>
                <th>File Name</th>
                <th>File Size</th>
                <th>Action</th>
              </tr>
            </thead>            
            <!-- <tbody *ngIf="flashCards?.length">               -->
              <tbody>   
                <tr *ngFor="let data of flashCards; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.cardName }}</td>
                    <td>{{ data.cardDescription }}</td>
                    <td>{{ groupName }}</td>
                    <td>{{ data.cardFileName }}</td>
                    <td>{{ data.cardFileSize }}</td>
                    <td class="text-center">
                      <button type="button" [hidden]="!activeStatus" class="mt-1 btn btn-outline-primary btn-sm mr-1"
                        tooltip="Assign User" placement="top"
                         (click)="openAssignDialog(data.cardId, data.needPayment, data.cardName)">
                        <i class="fa fa-id-badge fa-x3"></i>
                      </button>
                      <button type="button" class="btn btn-outline-info btn-sm mr-1 mt-1" (click)="openEditDialog(data.cardId)">
                        <i class="fa fa-pencil fa-x2"></i>
                      </button>
                      <button [hidden]="!activeStatus" type="button" class="mt-1 btn btn-outline-danger btn-sm" (click)="openDeleteDialog(data.cardId, data.cardName)">
                        <i class="fa fa-eye fa-x2"></i>
                      </button>
                      <button [hidden]="activeStatus" type="button" class="mt-1 btn btn-outline-danger btn-sm" (click)="openDeleteDialog(data.cardId, data.cardName)">
                        <i class="fa fa-eye-slash fa-x2"></i>
                      </button>                   
                    </td>
                </tr>
            </tbody>
            <!-- <tbody *ngIf="!flashCards?.length">
              <tr>        
                <td colspan="7" class="text-center textDanger">{{ noDataFound }}</td>
              </tr>
            <tbody> -->
          </table>
        </div>

        <div [hidden]="!isLoad">
          <div class="linear-background"></div>
        </div>
        
      </div>
  </div>
</div>