<div class="d-none d-md-block">
 <div class="mmodal">
    <div class="mmodal-body">
        <div class="row">
            <div class="col-md-10 mt-2 ml-3"><h4 class="modal-title">Assign User.</h4></div>
        </div>    
        <hr>
        <div class="column ml-3">
            <div class="col">
                <p>Do you want to assign <u>{{userName}}</u>  to <u>{{assignItem}}</u></p>
            </div>            
            <br>  
            <div class="col">
                <div class="column">
                    <div class="col">Payment:</div>
                    <div class="col mb-4">
                      <input type="number" (input)="getPayment($event.target.value)" class="form-control">
                    </div>
                </div>
            </div>         
            
        </div>
        <div class="modal-footer">    
            <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Close</button>
            <button type="button" class="btn btn-outline-primary" [disabled]="!btnDisable" (click)="assignUser()">Yes</button>
      </div>
    </div>
    
</div>
</div>

<!-- small devices -->
<div class="d-md-none">
    <div class="mmodal" >
       <div class="mmodal-body" style="width: 90%;">
           <div class="row">
               <div class="col-md-10 mt-2 ml-3"><h4 class="modal-title">Assign User.</h4></div>
           </div>    
           <hr>
           <div class="column ml-3">
               <div class="col">
                   <p>Do you want to assign <u>{{userName}}</u>  to <u>{{assignItem}}</u></p>
               </div>            
               <br>  
               <div class="col">
                   <div class="column">
                       <div class="col">Payment:</div>
                       <div class="col mb-4">
                         <input type="number" (input)="getPayment($event.target.value)" class="form-control">
                       </div>
                   </div>
               </div>         
               
           </div>
           <div class="modal-footer">    
               <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Close</button>
               <button type="button" class="btn btn-outline-primary" [disabled]="!btnDisable" (click)="assignUser()">Yes</button>
         </div>
       </div>
       
   </div>
   </div>
<div class="mmodal-background"></div>
