<div class="card cardTop">
    <div class="row mb-n4 card-body">
        <div class="col-md-6">
            <nav aria-label="breadcrumb" class="ui-breadcrumb">
                <ol class="breadcrumb ui-breadcrumb">        
                <li class="breadcrumb-item achor">Dashboard</li>                
                <li class="breadcrumb-item active" aria-current="page">Quizzes</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 text-right">            
            <form (ngSubmit)="loadDatatables()">
              <div class="row">
                <!-- <div class="col-md-4"></div> -->
                <div class="col-md-8 col">
                  <div class="form-group">                    
                    <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" 
                    placeholder="Select Group Name..." optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
                  </ngx-select> 
                  </div>
                </div>
      
                <div class="col-md-4 col">                  
                  <button type="submit" class="btn btn-outline-primary">Search</button>
                  <!-- <button type="submit" class="btn btn-outline-danger">REMOVE ASSIGN</button> -->
                </div>                    
              </div>
            </form>                   
        </div>        
    </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div [hidden]="isLoad" class="card-body table-responsive">        
        <table datatable [dtOptions]="dtOptions" class="table table-sm" [dtTrigger]="dtTrigger">
            <thead >
              <tr>        
                <th>#</th>
                <th>Quiz Name</th>
                <th># of crew fail</th>
                <th># of crew pass</th>           
                <th>Average</th>
                <th>Action</th>
              </tr>
            </thead>            
            <tbody>
                <tr *ngFor="let data of quizList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.quizName }}</td>
                    <td>{{ data.crewFail }}</td>
                    <td>{{ data.crewPass }}</td>
                    <td>{{ data.ave }}</td>
                    <td>
                      <button type="button" class="btn btn-outline-primary"
                        (click)="viewQuiz(data.quizId, data.quizName, data.group)">
                        <i class="fa fa-eye fa-x2"></i>
                      </button>       
                    </td>
                </tr>
            </tbody>           
          </table>
        </div>

        <div [hidden]="!isLoad">
          <div class="linear-background"></div>
        </div>
        
      </div>
  </div>
</div>