<div class="modal-body">    
    <div class="row">
        <div class="col-md-10"><h4 class="modal-title pull-left">{{ title }}</h4></div>
        <div class="col-md-2 text-right">
            <!-- <button type="button" class="btn btn-outline-primary mr-4" (click)="onSubmitAssignedUser()">ASSIGN USER</button> -->
            <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    </div>    
    <hr>
    <div class="row mt-3">
        <div class="col-md-12">
          <div class="card">
            <div [hidden]="isLoad" class="card-body table-responsive">        
              <table datatable  id="customers" [dtOptions]="dtOptionsAssign" class="table table-sm " [dtTrigger]="dtTriggerAssign">
                  <thead >
                    <tr>        
                      <th>#</th>
                      <th>Name</th>
                      <th>Group</th>                
                      <th>Email</th>
                      <th>Birthday</th>
                      <th>Contact #</th>
                      <!-- <th>Rank</th> -->
                      <th>Gender</th>
                      <th class="text-center">
                        Assign
                          <!-- <input type="checkbox" [checked]="isCheckedAll" name="assignUser" 
                            (change)="$event ? checkuncheckall($event) : null"> -->
                    </th>
                    </tr>
                  </thead>            
                  <tbody *ngIf="userList?.length > 0">              
                      <tr *ngFor="let data of userList; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ data.firstName }} {{ data.middleName }} {{ data.lastName }}</td>
                          <td>{{ data.groupName }}</td>
                          <td>{{ data.email }}</td>
                          <td>{{ data.birthday }}</td>
                          <td>{{ data.mobile }}</td>
                          <!-- <td>{{ data.rank }}</td> -->
                          <td>{{ data.gender }}</td>
                          <td class="text-center">
                            <button type="button" class="btn btn-outline-primary btn-sm mr-1" 
                              (click)="openAssigningModal(data.userId)">
                              <i class="fa fa-id-badge fa-x3"></i>
                            </button>
                              <!-- <input type="checkbox" name="assignUser"
                              (change)="$event ? getCheckUser($event) : null"                              
                              [checked]="isChecked" [value]="data.data"> -->
                          </td>
                      </tr>
                  </tbody>
                  <tbody *ngIf="userList?.length == 0">
                    <tr>        
                      <td colspan="9" class="text-center textDanger">{{ noDataFound }}</td>
                    </tr>
                  <tbody>
                </table>
              </div>
      
              <div [hidden]="!isLoad">
                <div class="linear-background"></div>
              </div>
              
            </div>
        </div>
      </div>
</div>  