/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Segoe-UI:wght@300&display=swap');
/* $line-count: 2;
$line-height: 1.2;
$body-font-size: 1rem;
$body-font-family: 'Roboto'; */

/* cyrillic-ext */

/* body {
  margin: 0;
background-image: url('https://bts-tala-demosite.s3-ap-northeast-1.amazonaws.com/portalBG.png');
background-repeat: no-repeat;
background-size: 100%;
} */

html, body {
    font-family: "Roboto", sans-serif;
    font-size: 0.95rem;
    height:100%;
  }
  /* html { font-size: 1rem; } */

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

label,th, button {
  text-transform: uppercase;
}

.maxHeight {
  max-height: 135px;
  text-align: center;
}

.textDanger {
  color: rgb(212, 89, 89) !important;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

/* .backDropModal {
  background:red;
} */


.sshow {
    display: block;
}

.hhidden {
    display: none;
}

.mmodal {    
    z-index: 1000;
    position: fixed;    
    bottom: 0;
    /* left: 300px; */
    width: 40%;
    
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */ 
}
.mmodal-body {
    /* background: #fff;
    margin: 40px;
    padding: 20px; */
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.ngxSelect__toggle {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}


ngx-select { 
  text-transform: uppercase;
  z-index: 9999;
  /* overflow: hidden;
  display: block;
    position: relative;
    z-index: 0; */
}

.ngx-select__choices {
  z-index: 9999;
}

/* library flashcard/courses/quizzes table */
th {
  background-color: #4CAF50;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}

td {
  border: 1px solid #ddd;
}

label {
  color: black;
}

.breadcrumb {background: rgba(255, 255, 255, 1); }
.achor {
  color: rgb(38, 38, 230)
}

.modal-dialog-xl {
  max-width: 90% !important;
  width: 90% !important;
}

.bgColor {
  background-color: red !important;
}

input-file-dummy, .input-file-btn {
  cursor: pointer;
  color: yellow;
  background-color: red;
}
.input-file-dummy[readonly] {
  background-color: white;
}

.ngx-select__choices {
  z-index: 9999;
}

.customNav {
    background-color: rgb(0,35,82) !important;
}

/* .nav-link .fa {
  color: white;
}

li > a {
  color: white;
} */

/* button upload css */

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.danger .file-select{border-color:#e72f2f;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.danger .file-select .file-select-button{background:#e72f2f;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* fb place holder loading animation */
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
.linear-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 338px;
  position: relative;
  overflow: hidden;
}


/* @media (min-width: 576px and ) {
  html { font-size: 15.25rem; }
}
@media (min-width: 768px) {
  html { font-size: 1.5rem; }
}
@media (min-width: 992px) {
  html { font-size: 0.95rem; }
}
@media (min-width: 1200px) {
  html { font-size: 1rem; }
} */

/* 
@media (max-width: 576px) { 
  html { font-size: .80rem; }
 }

 @media (max-width: 768px) { 
  html { font-size: .90rem; }
 }

 @media (max-width: 1200px) { 
  html { font-size: 1rem; }
 } */