
<div class="modal-header" >
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form #formValue="ngForm" (ngSubmit)="onSubmit(formValue)">
  <div class="modal-body"> 
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          NAME:          
          <input type="text" name="itemName" id="itemName" class="form-control" [(ngModel)]="editItemDetails.itemName">
        </div>
        <div class="form-group mt-n2">
          DESCRIPTION:
          <textarea name="description" name="description" id="description" class="form-control" [(ngModel)]="editItemDetails.description"></textarea>          
        </div>
        <div class="form-group mt-n2">
          RANK:
          <ngx-select class="ellipsis" optionValueField="rankId" [multiple]="true" [allowClear]="true" name="rankId" id="rankId"
            [(ngModel)]="editItemDetails.rankId"
            ngModel placeholder="Select Rank..." optionTextField="rank" [items]="rankList" [formControl]="selectRank">
          </ngx-select>               
        </div>
        <div class="form-group mt-n2">
          TYPE:    
          <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select Type..." 
          name="typeName" id="typeName"
            optionValueField="typeId" optionTextField="typeName" 
            [(ngModel)]="editItemDetails.typeName"
            [items]="stats" [formControl]="selectType">
          </ngx-select>
        </div>
        <div class="form-group mt-n2">
          OWNER:     
          <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" name="groupId" id="groupId" 
          [(ngModel)]="principalId"
            placeholder="Select Owner..." optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
          </ngx-select>             
        </div>
        <div class="form-group mt-n2">
          CONTENT TYPE:
          <ngx-select class="ellipsis" optionValueField="contentId" 
            optionTextField="contentType" [allowClear]="true" 
            name="contentType" 
            id="contentType" 
            [(ngModel)]="editItemDetails.contentType"
            placeholder="Select Content..." [items]="contentList" [formControl]="selectContent">
          </ngx-select>             
        </div>
        <div class="form-group mt-n2">
          PAYMENT:          
          <input type="number" ngModel name="payment" id="payment" class="form-control" [(ngModel)]="editItemDetails.needPayment">
        </div>    
    </div>     

      <div class="col-md-6">
        <div class="well">
          <div class="form-group mb-n3 mt-n3 pt-1 pb-1">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    THUMBNAIL:
                  </div>
                  <div class="col-md-8 justify-content-end">
                    <!-- <div *ngIf="thumbnailImageFormat == '3'; else showThumbnail" class="ellipsis small form-text text-muted text-sm-left">
                      <a href="{{ editItemDetails.thumbnail }}" target="_blank" >{{ editItemDetails.thumbnail }}</a>
                    </div> -->
                    <ng-template #showThumbnail>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" [style.width.%]="thumbnailResponse">
                            {{thumbnailResponse}}%
                        </div>
                      </div>
                    </ng-template>                                        
                  </div>                  
                </div>
                <div class="row">                  
                  <div class="col-md-10">
                    <div class="file-upload" [ngClass]="{'active':thumbnailImageFormat == '1', 'danger': thumbnailImageFormat == '0' }">
                      <div class="file-select">
                        <div class="file-select-button" id="thumbnail">Choose File</div>
                        <div class="file-select-name" id="noFile">{{ imgUrl }}</div>
                        <input type="file" (change)="uploadImg($event.target.files)" class="form-control">
                      </div>
                      <div class="small form-text text-muted text-sm-left textDanger">Accepted Format: .jpg, .png</div>
                    </div>
                  </div>
                  <div class="col-md-2 justify-content-end">
                    <button type="button" class="btn btn-outline-primary float-right text-left"
                    [disabled]="thumbnailImageFormat !== '1'" (click)="uploadPresignedFile('thumbnail')">
                      Upload
                    </button>
                  </div>
                </div>
              </div>              
            </div>                      
          </div>
        </div>

        <div class="well mt-n1">
          <div class="form-group mb-n3 mt-n3 pt-1 pb-1">
            <div class="row">
              <div class="col-md-5">
                ACTUAL FILE:
              </div>
              <div class="col-md-7 justify-content-end ">                
                <ng-template #showActualVideo>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" [style.width.%]="actualVideoResponse">
                        {{actualVideoResponse}}%
                    </div>
                  </div> 
                </ng-template>               
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="file-upload" [ngClass]="{'active':actualVideoFileFormat == '1', 'danger': actualVideoFileFormat == '0' }">
                  <div class="file-select">
                    <div class="file-select-button">Choose File</div>
                    <div class="file-select-name">{{ fileUrl }}</div> 
                    <input type="file" [disabled]="!contentType" (change)="uploadActualFile($event)" class="form-control">                    
                  </div>
                  <div *ngIf="contentType != 'VIDEO'" class="small form-text text-muted text-sm-left textDanger">Accepted Format: .csv</div>                        
                  <div *ngIf="contentType == 'VIDEO'" class="small form-text text-muted text-sm-left textDanger">Accepted Format: .mp4. .avi</div>
                </div>
              </div>
              <div class="col-md-2 justify-content-end">
                <button type="button" (click)="uploadPresignedFile('actualVideo')" [disabled]="actualVideoFileFormat != '1'" class="btn btn-outline-primary float-right text-left">
                  <!-- <i class="fa fa-upload"> </i> -->
                  upload
                </button>
              </div>
            </div>           
          </div>
        </div>

        <div class="well mt-n1" *ngIf="itemType == 'courses'">
          <div class="form-group mb-n3 mt-n3 pt-1 pb-1">
            <div class="row">
              <div class="col-md-5">
                PREVIEW FILE:
              </div>
              <div class="col-md-7 justify-content-end ">
                <!-- <div *ngIf="actualVideoFileFormat == '3'; else showActualVideo" class="ellipsis small form-text text-muted text-sm-left">
                  <a href="{{ thumbnailUrl }}" target="_blank" >{{ previewFileUrl }}</a>
                </div> -->
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="100" [style.width.%]="previewVideoResponse">
                      {{previewVideoResponse}}%
                  </div>
              </div> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="file-upload" [ngClass]="{'active':previewVideoFileFormat == '1', 'danger': previewVideoFileFormat == '0' }">
                  <div class="file-select">
                    <div class="file-select-button">Choose File</div>
                    <div class="file-select-name">{{ previewFileUrl }}</div>
                    <input type="file" (change)="uploadPreviewFile($event)" class="form-control">                 
                  </div>
                  <div class="small form-text text-muted text-sm-left textDanger">Accepted Format: .mp4. .avi</div>
                </div>
              </div>
              <div class="col-md-2 justify-content-end">
                <button type="button" (click)="uploadPresignedFile('previewVideo')" [disabled]="previewVideoFileFormat != '1'" class="btn btn-outline-primary float-right text-left">
                  upload
                </button>
              </div>
            </div>                                 
          </div>
        </div>
        
        <div class="row">
          <!-- <div [ngClass]="(itemType == 'courses') ? 'col-md-6' : 'col-md-12'"> -->
            <div class="col-md-6">
            <p class="text-center">Image Preview:</p>
            <div class="col-md-12 mt-n3 text-center">
              <img [src]="imgThumbnail" class="img-fluid maxHeight pt-1">
            </div>
          </div>

          <div class="col-md-6" [hidden]="itemType != 'courses'">
            <p class="text-center">Video Preview:</p>
            <div class="col-md-12 mt-n3 text-center">              
              <video [src]="videoUrl" class="maxHeight text-center pt-1" controls></video>
            </div>
          </div>
        </div>
        
      </div>
    </div>  
  </div>

  <div class="modal-footer">    
    <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Close</button>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </div>
</form>