@import './colors';
@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($primary-palette);
$app-accent: mat-palette($accent-palette, A200, A100, A400);
$app-warn: mat-palette($warn-palette);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
// $toolbar-primary: mat-palette($mat-light-blue);
// $toolbar-accent: mat-palette($mat-yellow, 400);
// $toolbar-theme: mat-light-theme($toolbar-primary, $toolbar-accent);
// @include mat-toolbar-theme($toolbar-theme);