$primary-palette: ( 50: #fdeae5, 100: #fbcbbd, 200: #f8a891, 300: #f58565, 400: #f26a44, 500: #f05023, 600: #ee491f, 700: #ec401a, 800: #e93715, 900: #e5270c, A100: #ffffff, A200: #ffdfdc, A400: #ffb1a9, A700: #ff9a90, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$accent-palette: ( 50: #e5ecf5, 100: #bdd1e6, 200: #91b2d5, 300: #6593c4, 400: #447bb7, 500: #2364aa, 600: #1f5ca3, 700: #1a5299, 800: #154890, 900: #0c367f, A100: #b0c9ff, A200: #7da7ff, A400: #4a84ff, A700: #3073ff, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #ffffff, ));
$warn-palette: ( 50: #f9e0e0, 100: #f0b3b3, 200: #e68080, 300: #db4d4d, 400: #d42626, 500: #cc0000, 600: #c70000, 700: #c00000, 800: #b90000, 900: #ad0000, A100: #ffd7d7, A200: #ffa4a4, A400: #ff7171, A700: #ff5858, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
// ----------------------------------------
$black-color: #000;
$dark-color: #0f0f0f;
$white-color: #fff;
$light-color: #eee;
$body-bg-color: $light-color;
$body-font-color: $dark-color;
$primary-color: #002352;
$accent-color: #2364aa;
$danger-color: #cc0000;
$link-color: #0275d8;
$link-dark-color: #015dac;
$success-color: green;