
<div class="modal-header" >
    <h4 class="modal-title pull-left">Add User Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form #formValue="ngForm" name="form" (ngSubmit)="formValue.form.valid && onSubmit(formValue)" [mustMatch]="['password', 'confirmPassword']" novalidate>
    <div class="modal-body"> 
        <div class="row">
            <div class="col-md-4">
            <div class="form-group">
               *FIRST NAME:          
                <input type="text" name="firstName" id="firstName" class="form-control"
                    [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': formValue.submitted && firstName.invalid }" required
                >
                <div *ngIf="formValue.submitted && firstName.invalid" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required">First Name is required</div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    *MIDDLE NAME:                          
                    <input type="text" name="middleName" id="middleName" class="form-control"
                        [(ngModel)]="model.middleName" #middleName="ngModel" required
                        [ngClass]="{ 'is-invalid': formValue.submitted && middleName.invalid }"
                    >
                    <div *ngIf="formValue.submitted && middleName.invalid" class="invalid-feedback">
                        <div *ngIf="middleName.errors.required">Middle Name is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    *LAST NAME:      
                    <input type="text" name="lastName" id="lastName" class="form-control"
                        [(ngModel)]="model.lastName" #lastName="ngModel" required
                        [ngClass]="{ 'is-invalid': formValue.submitted && lastName.invalid }"
                    >
                    <div *ngIf="formValue.submitted && lastName.invalid" class="invalid-feedback">
                        <div *ngIf="lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 mr-n2">
                        <div class="form-group">
                            *CREW NO:                                      
                            <input type="text" name="crewNo" id="crewNo" class="form-control"
                                [(ngModel)]="model.crewNo" #crewNo="ngModel" required
                                [ngClass]="{ 'is-invalid': formValue.submitted && crewNo.invalid }"
                            >
                            <div *ngIf="formValue.submitted && crewNo.invalid" class="invalid-feedback">
                                <div *ngIf="crewNo.errors.required">This is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ml-n2">
                        <div class="form-group">
                            *GENDER:   
                            <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select Gender..." 
                                [(ngModel)]="model.selectGender" [ngClass]="{ 'is-invalid': formValue.submitted && selectGender.invalid }"
                                name="gender" id="gender" [items]="['MALE', 'FEMALE']" [formControl]="selectGender">
                            </ngx-select>         
                                                                      
                            <div [hidden]="selectGender.valid? true : false" class="invalid-feedback">
                                <div>Gender is required</div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    *BIRTHDAY:      
                    <input type="date" name="birthday" id="birthday" class="form-control"
                        [(ngModel)]="model.birthday" #birthday="ngModel" required
                        [ngClass]="{ 'is-invalid': formValue.submitted && birthday.invalid }"
                    >
                    <div *ngIf="formValue.submitted && birthday.invalid" class="invalid-feedback">
                        <div *ngIf="birthday.errors.required">This is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    *USER TYPE:                    
                    <ngx-select class="ellipsis" [allowClear]="true" placeholder="Select user Type..." 
                        [(ngModel)]="model.selectUserType" [ngClass]="{ 'is-invalid': formValue.submitted && selectUserType.invalid }"
                        name="userType" id="userType" [items]="['SUPER ADMIN', 'TRAINEE']" [formControl]="selectUserType">                
                    </ngx-select>
                    <div [hidden]="selectUserType.valid? true : false" class="invalid-feedback">
                        <div>User type is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                MOBILE NO:          
                <input type="number" name="mobile" id="mobile" class="form-control" ngModel>
            </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                RANK:      
                <ngx-select class="ellipsis" optionValueField="rankId" [allowClear]="true" name="rankId" id="rankId"              
                    placeholder="Select Rank..." optionTextField="rank" [items]="rankList" [formControl]="selectRank">
            </ngx-select>  
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                GROUP:      
                <ngx-select class="ellipsis" optionValueField="groupId" [allowClear]="true" name="group" id="group"  
                placeholder="Select group..." optionTextField="groupName" [items]="principalList" [formControl]="selectPrincipal">
              </ngx-select> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                *EMAIL:          
                <input type="text" name="email" id="email" class="form-control"
                    [(ngModel)]="model.email" #email="ngModel" required
                    [ngClass]="{ 'is-invalid': formValue.submitted && email.invalid }"
                >
                <div *ngIf="formValue.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">This is required</div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    *PASSWORD:      
                    <input type="password" name="password" id="password" class="form-control" 
                        [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': formValue.submitted && password.invalid }" required minlength="6"
                    >
                    <div *ngIf="formValue.submitted && password.invalid" class="invalid-feedback">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    *CONFIRM PASSWORD:      
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" 
                    [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': formValue.submitted && confirmPassword.invalid }" required
                    >
                    <div *ngIf="formValue.submitted && confirmPassword.invalid" class="invalid-feedback">
                        <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div>
        </div> 
    </div>    
  
    <div class="modal-footer" [hidden]="loader">
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Close</button>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>

    <div class="modal-footer" [hidden]="!loader">
        <button class="btn btn-outline-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
          </button>
    </div>
    
  </form>