<div *ngIf="!isLoad" class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<div class="card login">
			<div class="card-header">
					<div class="row">
						<div class="mt-2 col"><h3>Sign In</h3></div>
						<div class="col"><img src="/assets/tala.png" class="w-75 rounded float-right"></div>
					</div>        
					<div class="d-flex justify-content-end social_icon"></div>				                
			</div>
			<div class="card-body">
				<form #formValue="ngForm" (ngSubmit)="onSubmit(formValue)">
                    <label for="email">Email:</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope fa-fw"></i></span>
                        </div>
                        <input type="text" class="form-control" ngModel id="email" name="email">
                    </div>

                    <label for="password">Password</label>
					<div class="input-group form-group">    
						<div class="input-group-prepend">
							<span class="input-group-text">
                                <i class="fa"
                                    [ngClass]="{
                                    'fa-eye-slash': !showHidePassword,
                                    'fa-eye': showHidePassword
                                    }"
                                    (click)="toggleFshowHidePassword()">
                                </i>
                            </span>
						</div>
                        <input type="password" class="form-control" data-toggle="password" ngModel
                        id="password" name="password"
                        [type]="showHidePassword ? 'text' : 'password'">
					</div>
					<!-- <div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div> -->
					<div class="form-group">
						<!-- <input type="submit" value="Login" class="btn float-right login_btn"> -->
						<button type="submit" class="btn login_btn float-right">Sign in</button>
					</div>
				</form>
			</div>	
			<div class="card-footer">
				<!-- <div class="d-flex justify-content-center links">
					Don't have an account?<a href="#">Sign Up</a>
				</div> -->
				<div class="d-flex justify-content-center">
					<a href="#" style="color: white;">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>